.feature {
    font-family: "Arial", sans-serif;
    color: #333;
    background: white;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
  }
  
  .header-text {
font-size: 80px;
font-weight: 25;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: black;
margin-left: 15px;
  }
  
  
  /* Image Styling */
  .header img {
    width: 50%;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .feature-item {
    text-align: center;
    background: #f8f9fa;
    border: 2px solid #7CB92E;
    border-radius: 50%;
    padding: 4rem;
    width: 249px;
    height: 249px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .feature-item:hover {
    transform: scale(1.1);
    background: #7CB92E; 
  }
  
  .feature-item .icon {
    margin-bottom: 1rem;
  }
  
  .feature-item svg {
    width: 60px; /* Adjust size */
    height: 60px;
    color: #4caf50; /* Ensure consistent green color */
  }
  
  .feature-item h2 {
    font-size: 1.2rem;
    color: #333;
  }
  
  .motto-text{
    margin-top: 20px;
font-size: 30px;
text-align: center;
  }

  .Feature-Intrument{
    display: flex;
  }

  .Feature-Intrument img{
    font-size: 20px;
  }
  
  /* Styling for "Your Health," text */
  .Feature-Intrument-text {
    transform: rotate(-1.78deg);
    background-color: #EBEBEB;
    font-family: 'Poppins', sans-serif;
    font-size: 42px; /* Adjust font size for better fit */
    font-weight: 400; /* Set font weight for clarity */
    letter-spacing: 0.06em;
    padding: 10px;
    margin-top: 20%;
    margin-left: 100px;

  }

  .Feature-Intrument-text span{
    color: #4caf50;
font-size: 55px;
font-weight: 700;

  }